/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.map {
    display: flex;
    flex: 1;
    overflow: auto;
}

iframe{
    width: 100%;
}

label {
    display:flex;
    align-items: baseline;
}

input[type=checkbox] {
    margin-right: 8px;
}