/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.map {
    display: flex;
    flex: 1;
    overflow: auto;
}

iframe{
    width: 100%;
}